h1.msg{
    text-align: center;
    padding-top: 50px;
    
}
h1.clock{
    text-align: center;
    text-decoration: solid;
    font-size: 150px;
    padding-bottom: 150px;
    font-family: 'Times New Roman', Times, serif;

}
div.app{
    width: 70%;
    height: 350px;
    border: 15px solid rgb(174, 238, 0);
    padding: 50px;
    margin: 20px;
    background-color: rgb(96, 185, 245);
    
}
div{
    padding-left: 240px;
    padding-top: 70px;
}
